body {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      max-width: 600px;
      margin: auto;
      padding: 20px;
      
    }
    input, button {
      margin: 5px 0;
      padding: 8px;
      width: 70%;
      border-radius: 30px;
    }
    button{
        width: 30%;
        
        
    }
    .resultado {
      margin-top: 20px;
      padding: 10px;
      background-color: #f0f0f0;
      width: 70%;
    }