:root {
  --primary-color: #ffffff;
  --bg-color: #20202093;
  --spacing: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
}
body {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background-image: url(img/coolbackgrounds-particles-ether.png);
      margin: auto;
      
      
      
    }
    a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  list-style-type: none;
}

header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  position: fixed;
  width: 100%;
  background-color: var(--bg-color);
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  from {
    background-color: transparent;
  }

  to {
    background-color: var(--bg-color);
  }
}

header img {
  height: 80px;
  width: auto;
}

header ul {
  display: flex;
  
  width: 240px;
}

header a {
  text-transform: uppercase;
}



header nav {
  display: flex;
}

header span {
  width: 240px;
  font-size: 40px;
}

.banner img{
  height: 100vh;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius:2% ;
}

@media (max-width: 900px) {
 

  header nav {
    display: none;
  }
}
.banner img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 600px) {
  .banner img {
    height: 100vh;
    object-fit: cover;
  }
  .logo img{
    height: 50px;
  }
}


.propinas {
  
  padding-top: 20px;
  display: flex;        /* Activamos Flexbox */
  flex-direction: column; /* Ponemos los items en columna */
  gap: 10px;            /* Espacio entre los textos */
  align-items: center; /* Alineación horizontal (opcional: start, center, end) */
  justify-content: center; /* Alineación vertical (opcional: start, center, end, space-between) */
  padding-bottom: 30px;
}




button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 7px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid #585858;
  color: #fff;
  background: transparent;
  z-index: 0;
}
button:hover:after {
  top: 0;
  left: 0;
}
button:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #343a40;
}





    input {
      margin: 5px 0px;
      padding: 10px;
      width: 100px;
      border-radius: 30px;
    }
    button{
        width: 100px;
        
        
    }
    .resultado {
      color: #f0f0f0;
      padding: 20px ;
      
      
    }

    .resultadoImagen{
      width: 310px;
      background-image: url(img/WhatsApp\ Image\ 2025-09-08\ at\ 09.04.10.jpeg);
     background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.24);
    background-blend-mode: multiply;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5.5);
    text-shadow: #111211;
    }


    #consentBox {
   background: #979393 ;
   padding: 20px;
   border-radius: 15px;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.808);
   text-align: center;
   position: fixed;
   bottom: 20px;
   margin-left: 9%;
   width: 80%;
   z-index: 2;
   
}



#consentBox.hide {
   opacity: 0;
   pointer-events: none;
   transform: scale(0.8);
   transition: all 0.3s ease;
}

::selection {
   color: #fff;
   background: #229a0f;
}

#consentContent p {
   color: black;
   margin: 10px 0 20px 0;
   width: 90%;
   padding-left: 5%;
   padding-right: 5%;
   
}

#consentContent .buttons {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
}

.consentButton,
.rejectButton {
   
   border: none;
   outline: none;
   color: black;
   font-size: 16px;
   font-weight: 500;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.3s ease;
}

.consentButton {
   background: #ffffff;
   margin-right: 10px;
   border: 2px solid black;
}

.rejectButton {
   color: #111211;
   background: transparent;
   border: 2px solid white;
   text-decoration: none;
}

#consentBox img {
   max-width: 150px;
}

#consentHeader {
   font-size: 25px;
   font-weight: 600;
   margin-top: 10px;
}
#consentBox.hidden {
   display: none;
}

.form form input,
.form form textarea,
.form form button {
   display: block;
   width: 100%;
   margin-bottom: 20px; 
   padding: 10px;
   box-sizing: border-box;
}

footer{
    background-color: #333;
    color:rgb(199, 199, 199); 
    padding: 4%;
    font-family: 'EBGaramond', sans-serif;
}

.contacto{
    padding-top: 1%;
}
.copyright{
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
}
.logo-footer{
    width: 150px;
}

.caja-logo{
    display: flex;
    justify-content: space-between;
    
}

    .logo-politica img{
        width: 400px;
        
    }

    @media (max-width: 741px){
   
    .logo-politica img{
        width: 300px;
        
    }
    .logo-footer{
    width: 90px;
}  } .contacto p{
        font-size: 18px;
        
    } .copyright p{
        font-size: 18px;
    }
    .logo-politica{
        display: flex;
        justify-content: center;
    }
    

     .politica p{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 25px;
        padding: 1%;
        color: #262726;
        font-weight: bold;
    }
    
    .logo-politica{
        display: flex;
        justify-content: center;
    }

    h3{
    text-align: center;
    padding-top: 10%;
    font-size: 46px;
}